 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";
 .alert-alert {
   color: #721c24;
   background-color: #f8d7da;
   border-color: #f5c6cb;
 }
 
 .alert-notice {
   color: #383d41;
   background-color: #e2e3e5;
   border-color: #d6d8db;
 }
 
 .nav-link {
   cursor: pointer;
 }